// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em;  //1200px
$bp-large: 62.5em;       //1000px/16px = 62.5em
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;        // 1rem = 10px, 10px/16px = 0.625 or 62.5% 

    @media only screen and (max-width:$bp-largest) {    //1200px/16px = 75em=$bp-largest(@media-queries should be in Em unit)
        font-size: 50%;         // 1 rem = 8px, 8px/16px = 0.50px or 50% (in %-ralative unit to can scale-for responsivnes, to can increase/decrease the font)
    }
}
body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}
.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content);         // min-content or auto => row's heigth = content's height (it's same, that means that the row is addapted to the content when increase/decrease the viewport)
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];    // 1140px/8 = 142.5px per column = 14,25rem; minmax(min-content=>min value, 14rem=>max value) for responsivnes; 1fr and 1fr around the 8 columns to fill the remaining space and to center that 8 col content at the middle; naming the column grid lines;  

    // & > * {
    //     padding: 40px;
    //     font-size: 3rem;
    // }
    @media only screen and (max-width:$bp-large) {
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3,min-content);    //add a new row(6rem) for a sidebar
        grid-template-columns: [full-start] minmax(6rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end];  //remove the 1st column(of sidebar);and always should naming the grid-lines like this when we have a huge layout and we want to change something laterf with @media queries
    }
}