.features {
    grid-column: center-start / center-end;
    
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: auto auto;           // it's not nessesery, because all 6 items will be automatically placed in a implicit grid, t.e. in implicit rows(not explicit) 
    grid-gap: 6rem;
}
